* {box-sizing: border-box}

.article-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.article-container>.container {
    padding-top: 50px;
    border-top: 1px solid #b3b3b3;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 1140px;
}
.article-item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    min-height: 250px;
    padding: 25px;
    border: 1px solid #b3b3b3;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.article-content {
    padding: 0 10px;
}
.btn {
    width: 250px;
    padding: 10px;
}